{% extends 'starter-page.html' %}
{% load static %}

{% block body %}
    <h4 class="text-center">Booking Information</h4>
	<table class="table table-striped table-hover table-dark container table-border border:1px solid black border-collapse: separate">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Date</th>
        <th>Time</th>
        <th>People</th>
        <th>Message</th>
        <th>Action</th>
    </tr>
    {% for x in bookings %}
    	<tr>
        <td>{{x.name}}</td>
        <td>{{x.email}}</td>
        <td>{{x.phone}}</td>
        <td>{{x.date}}</td>
        <td>{{x.time}}</td>
        <td>{{x.people}}</td>
        <td>{{x.message}}</td>
        <td>
            <a href="/edit/{{ x.id }}" class="btn btn-warning">Edit</a>
            <a href="/delete/{{ x.id }}" class="btn btn-danger">Delete</a>
            <a href="{% url 'pay' %}" class="btn btn-success">Pay</a>
        </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}